<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560599498850-5ci5gug2ov33rrln1b0u5au3b8ppales.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560599498850-5ci5gug2ov33rrln1b0u5au3b8ppales</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>560599498850-0ujq5hemo7gd2rh5n1e14a8t5qbo4b1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEy3U3qFFEhyPir_3qArLX1cZWgBYvN3E</string>
	<key>GCM_SENDER_ID</key>
	<string>560599498850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eg.edu.miuegypt.csc422.movienight</string>
	<key>PROJECT_ID</key>
	<string>movie-night-4279a</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-night-4279a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560599498850:ios:a35f52d4628bf8039fd13b</string>
	<key>DATABASE_URL</key>
	<string>https://movie-night-4279a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>